body {
    margin: 0;
    padding: 0;
    background-color: #F2D49D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Navegador */
:root{
    --main-color:#000000;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .main-header{
    background: #d9ae79;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0; 
    z-index: 1000;
  }
  
  nav{
    position: fixed;
    left: 0;
    top: 50px;
    width: 200px;
    height: calc(100vh - 50px);
    background: #d9ae79;
    transform: translateX(-100%);
    transition: .4s ease;
    z-index: 1000;
  }
  
  .navigation li{
    list-style:none;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  
  .navigation a{
    color:var(--main-color);
    display: block;
    line-height:3.5;
    padding: 0 10px;
    text-decoration:none;
    transition:.4s ease;
  }
  
  .navigation a:hover{
    transform:translateX(10%);
  }
  
  #btn-nav{
    display: none;
  }
  
  #btn-nav:checked ~ nav{
    transform:translateX(0);
  }
  
  .btn-nav{
    color:var(--main-color);
    font-size:30px;
    position: absolute;
    left:0;
    top:0;
    cursor:pointer;
    padding:6.5px 15px;
    transition:.2s ease;
    background:transparent
  }
  
  .btn-nav:hover{
    background: transparent;
  }


/* Carrusel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

    width: 100%;
    margin: auto;
}